<div class="green" ng-if="currentCount < 3">
    <div class="col-md-8 col-md-offset-2 text-center main-page-content">
        <div class="editContent">
            <h1>Go Climb</h1>
        </div>
        <div class="editContent">
            <p class="lead"><i>New wall set on {{ currentRouteDate }}</i></p>
        </div>
    </div>
</div>

<div class="yellow" ng-if="currentCount > 2 && currentCount < 7">
    <div class="col-md-8 col-md-offset-2 text-center main-page-content">
        <div class="editContent">
            <h1>Go Climb</h1>
        </div>
        <div class="editContent">
            <p class="lead"><i>New wall set on {{ currentRouteDate }}</i></p>
        </div>
    </div>
</div>

<div class="red" ng-if="currentCount > 6">
    <div class="col-md-8 col-md-offset-2 text-center main-page-content">
        <div class="editContent">
            <h1>Go Climb</h1>
        </div>
        <div class="editContent">
            <p class="lead"><i>New wall set on {{ currentRouteDate }}</i></p>
        </div>
    </div>
</div>
